@font-face {
  font-family: OpenSans;
  src: url(../fonts/opensans.ttf); }

body {
  font-family: OpenSans,sans-serif; }

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1520px; }
  .container__inner {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

#nav-toggle {
  cursor: pointer; }

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 4px;
  width: 35px;
  background: grey;
  position: absolute;
  display: block;
  content: ''; }

#nav-toggle span:before {
  top: -10px; }

#nav-toggle span:after {
  bottom: -10px; }

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out; }

#nav-toggle.active span {
  background-color: transparent; }

#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0; }

#nav-toggle.active span:before {
  transform: rotate(45deg); }

#nav-toggle.active span:after {
  transform: rotate(-45deg); }

.logo {
  padding-left: 65px;
  padding-top: 5px; }

.number {
  background: #ffd200;
  border-radius: 10px;
  padding: 12px 45px; }

.login {
  padding-left: 55px; }

.left-head {
  display: flex;
  margin-left: 160px;
  justify-content: center;
  align-items: center; }

.right-head {
  display: flex;
  align-items: center;
  margin-right: 140px;
  padding: 21px; }

.main-image {
  background: url(../images/banner.png) center;
  background-size: cover;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 270px; }
  .main-image__caption {
    margin-bottom: -10px;
    font-size: 35px; }
  .main-image__item {
    font-size: 17px; }
  .main-image__button {
    margin-top: 70px;
    padding: 25px 45px;
    background: rgba(255, 255, 255, 0);
    border: 1px solid black;
    border-radius: 10px;
    font-size: 22px; }
    .main-image__button:hover {
      background: rgba(214, 203, 192, 0.7);
      transition: 0.4s;
      cursor: pointer; }

.instraction {
  display: flex;
  justify-content: space-around;
  padding-top: 55px; }
  .instraction_caption {
    display: flex;
    justify-content: space-around;
    padding-bottom: 97px; }

.item_caption {
  text-align: center;
  font-weight: bold;
  margin-top: 27px;
  font-size: 20px; }

.item1 {
  background: url(../images/cloud.png) center;
  background-repeat: no-repeat;
  border: 4px solid #ffd200;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  position: relative; }
  .item1::after {
    content: '';
    border-top: 4px dashed #ffd200;
    width: 136px;
    position: absolute;
    top: 50%;
    left: 100%; }

.item2 {
  background: url(../images/screen.png) center;
  background-repeat: no-repeat;
  border: 4px solid #ffd200;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  position: relative; }
  .item2::after {
    content: '';
    border-top: 4px dashed #ffd200;
    width: 136px;
    position: absolute;
    top: 50%;
    left: 100%; }

.item3 {
  background: url(../images/hand.png) center;
  background-repeat: no-repeat;
  border: 4px solid #ffd200;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  position: relative; }
  .item3::after {
    content: '';
    border-top: 4px dashed #ffd200;
    width: 136px;
    position: absolute;
    top: 50%;
    left: 100%; }

.item4 {
  background: url(../images/truck.png) center;
  background-repeat: no-repeat;
  border: 4px solid #ffd200;
  border-radius: 50%;
  width: 130px;
  height: 130px; }

.advantage {
  display: flex;
  justify-content: space-around;
  padding-top: 15px; }
  .advantage_cover {
    background: #f3f0e7;
    padding-top: 25px;
    padding-bottom: 77px;
    text-align: center; }
  .advantage_caption {
    display: flex;
    justify-content: space-around; }
    .advantage_caption_h2 {
      font-size: 50px; }
    .advantage_caption_item {
      font-weight: bold;
      width: 314px; }
      .advantage_caption_item_main {
        font-size: 24px; }
  .advantage__button {
    margin-top: 65px;
    padding: 25px 45px;
    background: #e11a27;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 22px; }
    .advantage__button:hover {
      cursor: pointer;
      background: rgba(210, 35, 47, 0.79);
      transition: 0.7s; }

.import {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  background: url(../images/round_adv.png) no-repeat;
  background-size: auto 280px;
  display: flex;
  align-items: center;
  justify-content: center; }

.edit {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  background: url(../images/kitty.png) no-repeat -70px 0px;
  background-size: auto 280px;
  display: flex;
  align-items: center;
  justify-content: center; }

.template {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  background: url(../images/template.png) no-repeat -20px -30px;
  background-size: auto;
  display: flex;
  align-items: center;
  justify-content: center; }

.solutions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 114px; }
  .solutions__maincaption {
    text-align: center;
    margin: 70px;
    font-size: 35px; }
  .solutions_bestseller {
    position: relative; }
    .solutions_bestseller::before {
      content: url(../images/bestseller.png);
      position: absolute;
      top: -22px;
      left: 60px; }
    .solutions_bestseller::after {
      position: absolute;
      content: 'BESTSELLER';
      color: red;
      top: -18px;
      left: 113px;
      font-weight: bold; }
  .solutions_item {
    background: #ffd200;
    border-radius: 10px;
    width: 313px; }
    .solutions_item__captiontop {
      padding: 44px 57px 46px 54px;
      margin-top: 0;
      margin-bottom: 0;
      text-align: center;
      font-size: 33px; }
    .solutions_item__section {
      background: white;
      margin: 0 6px;
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .solutions_item__section__li {
        list-style: none;
        padding-bottom: 10px;
        font-size: 16px; }
        .solutions_item__section__li::before {
          content: url(../images/daw.png);
          padding-right: 20px; }
    .solutions_item__ul {
      margin: 20px 0 0 0;
      padding-left: 20px; }
    .solutions_item__price {
      text-align: center;
      font-size: 40px;
      font-weight: bold; }
    .solutions_item__captionbottom {
      text-align: center;
      font-size: 20px;
      margin-top: 19px;
      margin-bottom: 19px; }

.testimonials {
  background: url(../images/book.png) center;
  background-size: cover; }
  .testimonials_container {
    width: 540px; }
  .testimonials__caption {
    padding-top: 40px;
    padding-bottom: 57px;
    margin-bottom: 0;
    font-size: 60px; }
  .testimonials__text {
    margin-top: 27px;
    margin-bottom: 40px; }
    .testimonials__text__link__container {
      text-align: right;
      position: relative; }
  .testimonials__link {
    text-decoration: none;
    color: black;
    font-weight: bold; }
    .testimonials__link::after {
      content: url(../images/arrow.png);
      position: absolute;
      top: -4px;
      margin-left: 4px; }
  .testimonials__button {
    margin-top: 94px;
    padding: 25px 42px;
    background: rgba(255, 255, 255, 0);
    border: 1px solid black;
    border-radius: 10px;
    font-size: 22px; }
    .testimonials__button_wrapper {
      text-align: center;
      padding-bottom: 55px; }
    .testimonials__button:hover {
      background: rgba(214, 203, 203, 0.61);
      cursor: pointer;
      transition: 0.7s; }
  .testimonials__author {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .testimonials__author__h4 {
      margin-bottom: 5px;
      font-size: 30px;
      font-weight: bold; }
    .testimonials__author__p {
      margin-top: 5px;
      font-size: 18px; }

.author {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: url(../images/author.png) no-repeat; }
  .author__caption {
    margin-left: 15px; }

.terms {
  display: flex;
  justify-content: space-between;
  margin-top: 92px;
  margin-bottom: 75px; }
  .terms__item {
    width: 313px; }
    .terms__item__caption {
      text-align: center;
      background: #ffd200;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      margin-bottom: 6px;
      padding: 20px;
      font-size: 36px;
      margin-top: 0; }
    .terms__item__section {
      background: #f7f0e6;
      height: 210px;
      font-size: 17px;
      padding: 30px 32px 0 30px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px; }
      .terms__item__section__li {
        padding-bottom: 10px; }
      .terms__item__section__p {
        margin-bottom: 0;
        margin-top: 0; }
        .terms__item__section__p__two {
          margin-top: 10px; }
      .terms__item__section__ul {
        margin-bottom: 0;
        margin-top: 0; }
    .terms__item__shiping {
      color: red;
      display: inline-block;
      margin-top: 10px; }
  .terms__button {
    padding: 24px 33px;
    background: #e11a27;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 26px; }
    .terms__button__container {
      text-align: center;
      margin-bottom: 120px; }
    .terms__button:hover {
      background: rgba(187, 43, 52, 0.81);
      cursor: pointer;
      transition: 0.7s; }

.footer {
  background: #ffd200;
  padding-top: 50px; }
  .footer__container {
    display: flex;
    justify-content: flex-start; }
  .footer__item {
    border-top: 1px solid black;
    margin-right: 75px;
    width: 150px; }
    .footer__item__ul {
      padding-left: 0;
      margin-top: 30px; }
    .footer__item__li {
      list-style: none;
      padding-bottom: 5px; }
    .footer__item__a {
      color: black;
      text-decoration: none; }
      .footer__item__a:hover {
        color: rgba(72, 60, 60, 0.78); }
    .footer__item__social:hover {
      opacity: 0.7; }
    .footer__item.last {
      margin-left: 255px;
      padding-top: 30px;
      margin-right: 0; }
    .footer__item__img {
      padding-right: 20px; }
  .footer__bottom {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 60px; }
